* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Merriweather, sans-serif;
  line-height: 1.5;
  background-color: #F2E9D9  ;

}


#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

ul{
  list-style:decimal;
  
}
li{
  margin-bottom: 10px;
}
li::marker{
  font-weight: bold;
}


#title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 60px;
}

#img-div {
  text-align: center;
  margin-bottom: 20px;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

#img-caption {
  margin: 15px auto 30px auto;

}

#tribute-info {
  margin-bottom: 20px;
}

#tribute-info>p{
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#tribute-link {
  display: block;
  text-align: center;
  color: green;
  text-decoration: none;
  font-weight: bold;
}

#tribute-link:hover {
  color: #666;
}
